body {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
 }


 h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
 }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search{
  width: auto;
}

.dropdown-menu {
  scale: 95%;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: white !important;
}

nav{
  background-color: darkcyan;
}
#manufacturer-form{
  position: relative;
  margin-top: 100px ;
  background-color: white;
}

.little-bit-down{
  margin-top: 70px;
}

video {
  object-fit: contain;
  width: 50vw;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
}
.world {
  display: flex;
  height: 100vh;
  width: 100vh;
  background-color: red;
}



.container {
  margin: 0;
  padding: 0;
}
#rat{
  background-image: url('https://www.usnews.com/cmsmedia/7e/eb/51608a0742f6a0067cf23ddd7949/2022-subaru-outback-front3.jpg');
  background-size: 100% auto;
}
