
body {
  margin: 0px;
  font-family: 'Calistoga', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search{
  width: auto;
}

.dropdown-menu {
  scale: 95%;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: white !important;
}

nav{
  background-color: darkcyan;
}
#manufacturer-form{
  position: relative;
  margin-top: 100px ;
  background-color: white;
}

.little-bit-down{
  margin-top: 70px;
}

video {
  object-fit: contain;
  width: 50vw;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
}
.world {
  display: flex;
  height: 100vh;
  width: 100vh;
  background-color: red;
}
